<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/javascripts/application.js"></script>
      <script type="text/javascript" src="/javascripts/app2.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form>
    Filmtitel eingeben:
    <input type="text" name="t"><br>
    <textarea cols=50 id="filmtitles_ta"></textarea><br>
    <button id="search-button" type="button" onclick="search()">Search</button><br>  
    Results
    <p id="output"></p>
    <p id="no_titles"></p>Titles
    </form>
    Testdaten<br>
      Anohana<br>
      Oldboy<br>
      Source Code
  </body>
</html>
